.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  padding: 0 1em;
}

p.lead {
  font-size: 1.25em;
}

.image {
  border-radius: 0.375em;
  border: 1px solid #d4d4d4;
  padding: 0.375em;
}
